
.todo-application .content-area-wrapper .content-right .todo-task-list .todo-task-list-wrapper .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}

.todo-application .content-area-wrapper .content-right .todo-task-list .todo-task-list-wrapper .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search--inline {
    padding: 0;
    border-top: none;
}

.ps__rail-y,ps__rail-x{
    z-index: 1;
}
