/node_modules
/public/js
/public/data
/public/css
/public/vendors
/public/hot
/public/storage
/public/images
/public/fonts
/public/*js
/public/favicon.ico
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
.idea/*
/resources/views/pages/tmp/
composer.lock
package-lock.json
